Preview of 'State/UT-wise Suicide Committed by Farmers, as per NCRB Report during 2018 and 2019' (First 10 Records )
https://www.data.gov.in/resource/stateut-wise-suicide-committed-farmers-ncrb-report-during-2018-and-2019

In [3]:
# Read Csv file
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('RS_Session_254_AU_496_1.csv')

In [6]:
df.head()

  Sl. No.           State/UT   2018  2019
0       1     Andhra Pradesh  365.0   628
1       2  Arunachal Pradesh    0.0     0
2       3              Assam    5.0    26
3       4              Bihar    0.0     0
4       5       Chhattisgarh  182.0   233